@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body,
footer {
  padding: 6px;
  margin: 6px;
  border: 2px solid blue;
  background-color: rgb(65, 65, 65);
}
header {
  background-color: lightgrey;
  text-align: center;
  border: 2px solid #fba;
  padding: 6px;
  margin: 3px;
  font-family: 'Roboto', sans-serif;
}

.field-header {
  background-color: rgb(175, 175, 175);
  text-align: left;
  padding: 20px;
  border: 2px solid rgba(41, 41, 41, 0.5);
  color: rgb(65, 65, 65);
}
.resume-content {
  background-color: rgba(229, 240, 226, 0.615);
  font-family: 'Roboto', sans-serif;
  padding: 6px;
  margin: 3px;
  border: 2px solid rgba(41, 41, 41, 0.5);
}
img {
  border-radius: 50%;
  border: 3px solid rgb(124, 124, 124);
  margin-left: 0%;
}
a {
  color: rgba(78, 114, 68, 0.678);
}
